.feed {
  flex: 0.5;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
}

.feet__header {
  padding: 15px;
  font-size: 22px;
  border-bottom: 1px solid #38444d;
  position: sticky;
  top: 0;
  background: #15202b;
  z-index: 100;
}

@media screen and (max-width: 850px) {
  .feed {
    flex: 0.8;
  }
  .sidebarLeft {
    flex: 0.2;
  }
}
